{% extends "layout.html" %}

{% block title %}
Typotarkistin
{% endblock %}

{% block content %}
<h2> Kirjoitusvirheiden korjaaja </h2>
<p>Voit joko pyytää tekstin korjaamista tai korjata yksittäisen sanan.</p>
<h3>Tarkista sanan oikeinkirjoitus (enintään 20 merkkiä):</h3>
<form action="/check" method="POST" onsubmit="return check(this)">
    <textarea id="textbox" name="input" rows="3" cols="30" maxlength="10"></textarea><br><br>
    <input type="submit" class="button" value="Tarkista">
</form>
<br>
<br>
<br>
<br>
<br>
<h3>Syötä korjattava teksti (enintään 100 merkkiä)</h3>
<form action="/correct" method="POST" onsubmit="return check(this)">
    <textarea id="textbox" name="input" rows="15" cols="40" maxlength="100"></textarea><br><br>
    <input type="submit" class="button" value="Korjaa">
</form>
<script>
    function check(form) {
        if (form.input.value.length < 3) {
            alert("Syötteen tulee olla vähintään 3 merkkiä pitkä");
            return false;
        }
        return true;
    }
</script>
<br><br><br>
{% endblock %}
