{% extends "layout.html" %}

{% block title %}
Typotarkistin
{% endblock %}

{% block content %}
<h2> Kirjoitusvirheiden korjaaja </h2>
<br>
<h3>Syötä sana (enintään 20 merkkiä):</h3>
<form action="/check" method="POST" onsubmit="return check(this)">
    <textarea id="textbox" name="input" rows="7" cols="30" maxlength="10"></textarea><br><br>
    <input type="submit" class="button" value="Tarkista">
</form>
<script>
    function check(form) {
        if (form.input.value.length < 3) {
            alert("Sanan tulee olla vähintään 3 merkkiä pitkä");
            return false;
        }
        return true;
    }
</script>
<br><br><br>
{% endblock %}
