.header {
    background: rgb(45, 145, 123);
    font-weight: bold;
    padding: 1em 1em;
    font-size: 1em;
}

body {
    margin: auto;
    max-width: 45em;
    font-family: monospace;
    background: #353131;
}

.content {
    background: white;
    padding: 1.5em 2em;
 }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #69e6ac;
}

textarea {
    resize: none;
}

.button {
    background-color: #b49ae2;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    
  }

  .button:hover {
    background-color: #69e6ac;
}

.smallbutton {
    background-color: #b49ae2;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
  }

  .smallbutton:hover {
    background-color: #69e6ac;
}
